<% content_for :title, "Editing gira" %>

<h1>Editing gira</h1>

<%= render "form", gira: @gira %>

<br>

<div>
  <%= link_to "Show this gira", @gira %> |
  <%= link_to "Back to giras", giras_path %>
</div>
