<body>
<!-- Seu conteúdo principal -->
<div class="content">
  <!-- Seu conteúdo vai aqui -->
</div>

<!-- Rodapé -->
<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nós</h5>
        <p>
          Somos uma comunidade dedicada à espiritualidade e ao bem-estar.
          Junte-se a nós em nossas próximas Giras.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Links Úteis</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Início</a></li>
          <li><a href="#" class="text-light text-decoration-none">Eventos</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contato</h5>
        <p>Email: contato@terreiro.com</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Endereço: Rua das Giras, 123, SP</p>
      </div>
    </div>
  </div>
</footer>
</body>
