<footer class="bg-dark text-light pt-3">
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-4">
        <h5>Endereço</h5>
        <p>
          Rua Evaldo Civinsck, 556 Jardim Giovana, Iperoba
          São Francisco do Sul, SC, 89240-000, BR
        </p>
<!--        <p><u>tuoy@tendadeumbandaogumyara.com.br</u></p>-->
      </div>
      <div class="col-4">
        <h5>Quem somos</h5>
        <p>
          Entidade de caráter religioso espiritualista, filantrópico, beneficente, social e cultural
        </p>

      </div>
      <div class="col-4">
        <h5>Outros</h5>
        <p>
          <u>tuoy@tendadeumbandaogumyara.com.br</u>
        </p>
      </div>
    </div>
  </div>
</footer>